* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  margin-top: 20px;
  color: white;
}

.input-container {
  display: flex;
  width: 30%;
  margin: auto;
  margin-top: 2%;
}

.input-container input {
  border-radius: 15px;
  font-size: 18px;
  outline: none;
  padding: 15px;
  width: 100%;
  
}
.input-container input:focus{
  outline:4px solid rgb(95, 95, 235);
  border: none;
}

.input-container input::placeholder {
  font-size: 18px;
}

.input-btn{
  cursor: pointer;
  border-radius: 100%;
  margin-left: 10px;
  border: none;
  width: 75px;
  height: 60px;
  font-size: 40px;
  background-color: rgb(57, 57, 229);
  color: #f1f1f1;
}
.input-btn:active{
  transition: transform 0.2s ease-in-out;
transform: scale(1.1);
background-color: rgb(40, 40, 229);
}
.list-items{
  width: 25%;
  margin-right: 75px;
  color: white;
}
.todo-items{
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  padding: 15px;
}
.items{
list-style: none;
font-size: 22px;
display: flex;
justify-content: space-between;
}
.main-todo{
  display: flex;
  justify-content: space-between;
}
.items span i{
  font-size: 20px;
  cursor: pointer;
}

.icons:active{
color: red;
transition: transform 0.2s ease-in-out;
transform: scale(1.2);

}